.navbar {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.1rem;
}

.navbar-nav .nav-link,
.navbar-nav .btn-link {
    color: #495057;
}

.navbar-nav .nav-link:hover,
.navbar-nav .btn-link:hover {
    color: #0d6efd;
    text-decoration: none;
}

.navbar-nav span.nav-link {
    cursor: default;
    color: #6c757d;
}
